extend index

block sub_content
  h3 Users
  
  ul
    for user in users
      li
        h4: a(href='#', id=user.username, class='toggle') #{user.username}
        div(class=user.username + ' hide')
          p Email: #{user.email}
          p Name: #{user.firstname} #{user.lastname}
    else
      p No Users