
//- MIXINS


//- Degree Mixin

mixin degree(dcnt, degree)
  div.degree.item
    label(for='degree') Degree
    select(name='profile[education][degrees][#{dcnt}][degree_type]', id='degree')
      option(value='')
      for degree_type in lookups.degree_types.values
        option(value=degree_type, selected=degree_type == degree.degree_type) #{degree_type}

    label(for='field-of-study') Field of Study
    input(type='text', name='profile[education][degrees][#{dcnt}][field]', value=degree.field, id='field-of-study')

    label(for='year-obtained') Year Obtained
    input(type='text', name='profile[education][degrees][#{dcnt}][year]', value=degree.year, id='year-obtained')

    //img(src='/images/remove_button.png', title='Remove Degree', width='23px').remove-item
    a(title='Remove Degree', class='button-box').remove-item Remove This Degree


//- Certificate Mixin

mixin certificate(ccnt, cert)
  div.cert.item
    label(for='certificate') Certificate
    input(type='text', name='profile[education][certificates][#{ccnt}][name]', value=cert.name, id='certificate')
    label(for='certificate-date') Certificate Date
    input(type='text', name='profile[education][certificates][#{ccnt}][year]', value=cert.year, id='certificate-date')

    //img(src='/images/remove_button.png', title='Remove Certificate', width='23px').remove-item
    a(title='Remove Certificate', class='button-box').remove-item Remove This Certificate



//- License Mixin

mixin license(lcnt, lic)
  div.license.item
    label(for='licenses') License
    input(type='text', name='profile[education][licenses][#{lcnt}][name]', value=lic.name, id='licenses')
    label(for='license-date') License Date
    input(type='text', name='profile[education][licenses][#{lcnt}][year]', value=lic.year, id='license-date')

    a(title='Remove License', class='button-box').remove-item Remove This License


//- Eligible Area Mixin

mixin eligible_area(cnt, eligible_area)
  div.item
    label(for='eligible-areas-'+cnt) Eligible Areas
    input(type='text', data-keyfind='eligible_areas', name='profile[experience][eligible_areas][#{cnt}]', value=eligible_area, id='eligible-areas-'+cnt).suggest-eligible-area

    a(title='Remove Area', class='button-box').remove-item Remove This Area


//- Course Taught Mixin

mixin course_taught(cnt, course_taught)
  div.item
    label(for='courses-taught-'+cnt) Courses Taught
    input(type='text', data-keyfind='courses', name='profile[experience][courses_taught][#{cnt}]', value=course_taught, id='courses-taught-'+cnt).suggest-course-taught

    a(title='Remove Course', class='button-box').remove-item Remove This Course

//- Service Mixin

mixin service(scnt, service)
  div.service.item.profile-segment
    div
      label(for='type') Committee Type
      select(name='profile[services][#{scnt}][service_type]', id='type')
        option(value='')
        for service_type in lookups.service_types.values
          option(value=service_type, selected=service_type == service.service_type) #{service_type}
    div
      label(for='name') Name
      input(type='text', name='profile[services][#{scnt}][name]', value=service.name, id='name')
    div
      label(for='description') Description
      input(type='text', name='profile[services][#{scnt}][description]', value=service.description, id='description')
    div
      label(for='year') Year
      input(type='text', name='profile[services][#{scnt}][year]', value=service.year, id='year')

    //img(src='/images/remove_button.png', title='Remove Service', width='23px').remove-item
    a(title='Remove Service', class='button-box').remove-item Remove This Service


//- START FORM

form(action='/user/'+user.id+'/profile/save', method='post')#profile-form
  - if(typeof profile.id != '')
    input(type='hidden', name='profile[_id]', value=profile.id)

  input(type='hidden', name='profile[user_id]', value=user.id)

  .teal-divider

  fieldset
    legend Education

    //- DEGREES
    div#degrees.item-list
      for degree, dcnt in profile.education.degrees
        +degree(dcnt, degree)
      else
        +degree(0, {})

      //img(src='/images/add_button.png', title='Add Degree', width='33px').add-item
      a(title='Add Degree', class='button-box').add-item Add Another Degree

    //- CERTS
    div#certs.item-list
      for cert, ccnt in profile.education.certificates
        +certificate(ccnt, cert)
      else
        +certificate(0, {})

      //img(src='/images/add_button.png', title='Add Certificate', width='33px').add-item
      a(title='Add Certificate', class='button-box').add-item Add Another Certificate

    //- LICENSES
    div#license.item-list
      for lic, lcnt in profile.education.licenses
        +license(lcnt, lic)
      else
        +license(0, {})

      //img(src='/images/add_button.png', title='Add License', width='33px').add-item
      a(title='Add License', class='button-box').add-item Add Another License

    div
      label(for='other-education') Other Education
      input(type='text', name='profile[education][other]', value=profile.education.other, id='other-education')

  .teal-divider

  fieldset
    legend Experience

    div
      label(for='years-teaching') Years Teaching
      select(name='profile[experience][years_teaching]', id='years-teaching')
        option(value='')
        for v in lookups.years_teaching.values
          option(value='#{v}', selected=v == profile.experience.years_teaching) #{v}

    div.item-list
      label(for='delivery-mode') Delivery Mode
      select(name='profile[experience][delivery_mode]', id='delivery-mode')
        option(value='')
        for v in lookups.delivery_modes.values
          option(value='#{v}', selected=v == profile.experience.delivery_mode) #{v}

    div.item-list
      label(for='years-teaching-online') Years Teaching Online
      select(name='profile[experience][years_teaching_online]', id='years-teaching-online')
        option(value='')
        for v in lookups.years_teaching.values
          option(value='#{v}', selected=v == profile.experience.years_teaching) #{v}


    div.item-list
      for eligible_area, cnt in profile.experience.eligible_areas
        +eligible_area(cnt, eligible_area)
      else
        +eligible_area(0, {})

      a(title='Add Eligible Area', class='button-box').add-item Add Eligible Area

    div.item-list
      for course_taught, cnt in profile.experience.courses_taught
        +course_taught(cnt, course_taught)
      else
        +course_taught(0, {})

      a(title='Add Course Taught', class='button-box').add-item Add Course Taught

  .teal-divider

  fieldset
    legend Research

    div
      

    .profile-segment

      div
        h5 Publications
        label(for='quantitative') Quantitative
        input(type='checkbox', name='profile[research_type][]', value='Quantitative', checked=(profile.research_type.indexOf('Quantitative') != -1), id='quantitative')
        label(for='qualitative') Qualitative
        input(type='checkbox', name='profile[research_type][]', value='Qualitative', checked=(profile.research_type.indexOf('Qualitative') != -1), id='qualitative')
        label(for='mixed-methods') Mixed Methods
        input(type='checkbox', name='profile[research_type][]', value='Mixed Methods', checked=(profile.research_type.indexOf('Mixed Methods') != -1), id='mixed-methods')
        
      div
        label(for='publication-total') Publication Total
        select(name='profile[publication][total]', id='publication-total')
          option(value='')
          - for(var i=1; i<50; i++)
            option(value=i, selected=i == profile.publication.total) #{i}
          option(value='99') 50+

      div
        label(for='publication-past-3-years') Publication Past 3 Years
        select(name='profile[publication][past_three_years]', id='publication-past-3-years')
          option(value='')
          - for(var i=1; i<50; i++)
            option(value=i, selected=i == profile.publication.past_three_years) #{i}

      div
        label(for='publication-reviewer') Publication Reviewer
        input(type='checkbox', name='profile[publication][reviewer]', checked=profile.publication.reviewer, id='publication-reviewer').reviewer

      div
        label(for='publication-reviewer-total') Publication Reviewer Total
        select(name='profile[publication][reviewer_total]', id='publication-reviewer-total')
          option(value='')
          - for(var i=1; i<50; i++)
            option(value=i, selected=i == profile.publication.reviewer_total) #{i}
          option(value='99') 50+

    .profile-segment
      h5 Presentations
      div
        label(for='presentation-total') Presentation Total
        select(name='profile[presentation][total]', id='presentation-total')
          option(value='')
          - for(var i=1; i<50; i++)
            option(value=i, selected=i == profile.presentation.total) #{i}
          option(value='99') 50+

      div
        label(for='past-3-years') Past 3 Years
        select(name='profile[presentation][past_three_years]', id='past-3-years')
          option(value='')
          - for(var i=1; i<50; i++)
            option(value=i, selected=i == profile.presentation.past_three_years) #{i}
          option(value='99') 50+

      div
        label(for='reviewer') Reviewer
        input(type='checkbox', name='profile[presentation][reviewer]', checked=profile.presentation.reviewer, id='reviewer').reviewer

      div
        label(for='reviewer-total') Reviewer Total
        select(name='profile[presentation][reviewer_total]', id='reviewer-total')
          option(value='')
          - for(var i=1; i<50; i++)
            option(value=i, selected=i == profile.presentation.reviewer_total) #{i}
          option(value='99') 50+

    .clearfix

  .teal-divider

  fieldset.item-list
    legend Services

    for service, scnt in profile.services
      +service(scnt, service)
    else
      +service(0, {})

    div.clearfix

    //img(src='/images/add_button.png', title='Add Service', width='33px').add-item
    a(title='Add Service', class='button-box').add-item Add Another Service

  .teal-divider

  fieldset
    legend Position
    div
      label(for='position-desired') Position Desired
      input(type='text', name='profile[positions_desired]', value=profile.positions_desired, id='position-desired')

    div
      label(for='institution') Institution
      select(name='profile[institution]', id='institution')
        option(value='')
        for v in lookups.institution_types.values
          option(value=v, selected=v == profile.institution) #{v}


    div
      label(for='course') Course
      select(name='profile[course]', id='course')
        option(value='')
        for v in lookups.course_types.values
          option(value=v, selected=v == profile.course) #{v}

  .teal-divider

  a(href="/user/#{user._id}").button-box Cancel
  input(type='submit', value='Save All Changes')