
//- MIXINS


//- Degree Mixin

mixin degree(dcnt, degree)
  div.degree.item
    label Degree
    select(name='profile[education][degrees][#{dcnt}][degree_type]')
      option(value='')
      for degree_type in lookups.degree_types.values
        option(value=degree_type, selected=degree_type == degree.degree_type) #{degree_type}

    label Field of Study
    input(type='text', name='profile[education][degrees][#{dcnt}][field]', value=degree.field)

    label Year Obtained
    input(type='text', name='profile[education][degrees][#{dcnt}][year]', value=degree.year)
    
    img(src='/images/remove_button.png', title='Remove Degree', width='23px').remove_item


//- Certificate Mixin

mixin certificate(ccnt, cert)
  div.cert.item
    label Certificate
    input(type='text', name='profile[education][certificates][#{ccnt}][name]', value=cert.name)
    label Certificate Date
    input(type='text', name='profile[education][certificates][#{ccnt}][year]', value=cert.year)
    
    img(src='/images/remove_button.png', title='Remove Certificate', width='23px').remove_item



//- License Mixin

mixin license(lcnt, lic)
      div.license.item
        label License
        input(type='text', name='profile[education][licenses][#{lcnt}][name]', value=lic.name)
        label License Date
        input(type='text', name='profile[education][licenses][#{lcnt}][year]', value=lic.year)
        
        img(src='/images/remove_button.png', title='Remove License', width='23px').remove_item


//- Service Mixin

mixin service(scnt, service)
  div.service.item
    div
      label Type
      select(name='profile[services][#{scnt}][service_type]')
        option(value='')
        for service_type in lookups.service_types.values
          option(value=service_type, selected=service_type == service.service_type) #{service_type}
    div
      label Name
      input(type='text', name='profile[services][#{scnt}][name]', value=service.name)
    div
      label Description
      input(type='text', name='profile[services][#{scnt}][description]', value=service.description)
    div
      label Year
      input(type='text', name='profile[services][#{scnt}][year]', value=service.year)
    
    img(src='/images/remove_button.png', title='Remove Service', width='23px').remove_item


//- START FORM

form(action='/user/'+user.id+'/profile/save', method='post')
  - if(typeof profile.id != '')
    input(type='hidden', name='profile[_id]', value=profile.id)

  input(type='hidden', name='profile[user_id]', value=user.id)

  fieldset
    legend Education

    //- DEGREES
    div#degrees.item_list
      for degree, dcnt in profile.education.degrees
        +degree(dcnt, degree)
      else
        +degree(0, {})

      img(src='/images/add_button.png', title='Add Degree', width='33px').add_item

    //- CERTS
    div#certs.item_list
      for cert, ccnt in profile.education.certificates
        +certificate(ccnt, cert)
      else
        +certificate(0, {})

      img(src='/images/add_button.png', title='Add Certificate', width='33px').add_item

    //- LICENSES
    div#license.item_list
      for lic, lcnt in profile.education.licenses
        +license(lcnt, lic)
      else
        +license(0, {})

      img(src='/images/add_button.png', title='Add License', width='33px').add_item

    div
      label Other Education
      input(type='text', name='profile[education][other]', value=profile.education.other)

  fieldset
    legend Experience

    div
      label Years Teaching
      select(name='profile[experience][years_teaching]')
        option(value='')
        for v in lookups.years_teaching.values
          option(value='#{v}', selected=v == profile.experience.years_teaching) #{v}

    div
      label Delivery Mode
      select(name='profile[experience][delivery_mode]')
        option(value='')
        for v in lookups.delivery_modes.values
          option(value='#{v}', selected=v == profile.experience.delivery_mode) #{v}

    div
      label Years Teaching Online
      select(name='profile[experience][years_teaching_online]')
        option(value='')
        for v in lookups.years_teaching.values
          option(value='#{v}', selected=v == profile.experience.years_teaching_online) #{v}

    div
      label Courses Taught
      input(type='text', name='profile[experience][courses_taught]', value=profile.experience.courses_taught)

    div
      label Eligible Areas
      input(type='text', name='profile[experience][eligible_areas]', value=profile.experience.eligible_areas)

  fieldset
    legend Research

    div
      p Publications
      label Quantitative
      input(type='checkbox', name='profile[publication][publication_type][]', value='Quantitative', checked=(profile.publication.publication_type.indexOf('Quantitative') != -1))
      label Qualitative
      input(type='checkbox', name='profile[publication][publication_type][]', value='Qualitative', checked=(profile.publication.publication_type.indexOf('Qualitative') != -1))
      label Mixed Methods
      input(type='checkbox', name='profile[publication][publication_type][]', value='Mixed Methods', checked=(profile.publication.publication_type.indexOf('Mixed Methods') != -1))

    div
      label Publication Total
      select(name='profile[publication][total]')
        option(value='')
        - for(var i=1; i<50; i++)
          option(value=i, selected=i == profile.publication.total) #{i}
        option(value='99') 50+

    div
      label Publication Past 3 Years
      select(name='profile[publication][past_three_years]')
        option(value='')
        - for(var i=1; i<50; i++)
          option(value=i, selected=i == profile.publication.past_three_years) #{i}

    div
      label Publication Reviewer
      input(type='checkbox', name='profile[publication][reviewer]', checked=profile.publication.reviewer)

    div
      label Publication Reviewer Total
      select(name='profile[publication][reviewer_total]')
        option(value='')
        - for(var i=1; i<50; i++)
          option(value=i, selected=i == profile.publication.reviewer_total) #{i}
        option(value='99') 50+

    p Presentations
    div
      label Presentation Total
      select(name='profile[presentation][total]')
        option(value='')
        - for(var i=1; i<50; i++)
          option(value=i, selected=i == profile.presentation.total) #{i}
        option(value='99') 50+

    div
      label Past 3 Years
      select(name='profile[presentation][past_three_years]')
        option(value='')
        - for(var i=1; i<50; i++)
          option(value=i, selected=i == profile.presentation.past_three_years) #{i}
        option(value='99') 50+

    div
      label Reviewer
      input(type='checkbox', name='profile[presentation][reviewer]', checked=profile.presentation.reviewer)

    div
      label Reviewer Total
      select(name='profile[presentation][reviewer_total]')
        option(value='')
        - for(var i=1; i<50; i++)
          option(value=i, selected=i == profile.presentation.reviewer_total) #{i}
        option(value='99') 50+


  fieldset.item_list
    legend Services

    for service, scnt in profile.services
      +service(scnt, service)
    else
      +service(0, {})

    img(src='/images/add_button.png', title='Add Service', width='33px').add_item

  fieldset
    legend Position
    div
      label Position Desired
      input(type='text', name='profile[positions_desired]', value=profile.positions_desired)

    div
      label Institution
      select(name='profile[institution]')
        option(value='')
        for v in lookups.institution_types.values
          option(value=v, selected=v == profile.institution) #{v}


    div
      label Course
      select(name='profile[course]')
        option(value='')
        for v in lookups.course_types.values
          option(value=v, selected=v == profile.course) #{v}

  input(type='submit', value='save')
