
div#profile-info.clearfix

  div.clearfix
    div#education.profilediv
      h4 Education
      
      .profilesubdiv
        h5 Degrees
        ul
          for degree in profile.education.degrees
            li 
              strong #{degree.degree_type} 
              | of 
              strong #{degree.field} 
              | acquired in 
              strong #{degree.year}
            
          else
            //li: a(href='#') Add a degree

      .profilesubdiv
        h5 Certificates
        ul
          for cert in profile.education.certificates
            li
              strong #{cert.name} 
              | acquired in 
              strong #{cert.year}
          else
            //li: a(href='#') Add a certificate

      .profilesubdiv
        h5 Licenses
        ul
          for lic in profile.education.licenses
            if(lic.name)
              li
                strong #{lic.name} 
                | acquired in 
                strong #{lic.year}
            else
              //li: a(href='#') Add a license

      .profilesubdiv
        h5 Other
        ul
          if profile.education.other
            li
              strong #{profile.education.other}
          else
            //li: a(href='#') Add other type of education

    div#teaching.profilediv
      h4 Teaching Experience

      p 
        strong Years Teaching: 
        | #{profile.experience.years_teaching}

      p 
        strong Delivery Mode: 
        | #{profile.experience.delivery_mode}

      p 
        strong Years Teaching Online: 
        | #{profile.experience.years_teaching_online}

      p 
        strong Eligible Areas: 
      ul
        for eligible_area in profile.experience.eligible_areas
          li #{eligible_area}
        else
          p No areas added.

      p 
        strong Courses Taught: 
      ul
        for course_taught in profile.experience.courses_taught
          li #{course_taught}
        else
          li No courses added.

  div.clearfix
    div#research.profilediv
      h4 Research

      p 
        strong Types of Research: 
        | #{profile.research_type}

      h5 Publications
      ul
        li Total Publications: #{profile.publication.total}
        li Publications in past 3 years: #{profile.publication.past_three_years}
        if profile.publication.reviewer
          li Publications Reviewer Total: #{profile.publication.reviewer_total}

      h5 Presentations
      ul
        li Total Presentations: #{profile.presentation.total}
        li Presentations in past 3 years: #{profile.presentation.past_three_years}
      if profile.presentation.reviewer
        li Presentations Reviewer Total: #{profile.presentation.reviewer_total}

    div#service.profilediv
      h4 Service
      
      ul
        for service in profile.services
          li #{service.service_type} #{service.description} #{service.year}
        else
          li: a(href='#') Add service

  div.clearfix
    div#position
      h4 Position
      
      p 
        strong Positions Desired: 
        | #{profile.positions_desired}
      p 
        strong Institutions: 
        | #{profile.institutions}
      p 
        strong Courses: 
        | #{profile.courses}
