
div#profile-info.clearfix

  div.clearfix
    div#education
      h3 Education

      h5 Degrees
      ul
        for degree in profile.education.degrees
          li: <strong>#{degree.degree_type}</strong> of <strong>#{degree.field}</strong> acquired in <strong>#{degree.year}</strong>
        else
          li: a(href='#') Add a degree


      h5 Certificates
      ul
        for cert in profile.education.certificates
          li: <strong>#{cert.name}</strong> acquired in <strong>#{cert.year}</strong>
        else
          li: a(href='#') Add a certificate

      h5 Licenses
      ul
        for lic in profile.education.licenses
          if(lic.name)
            li: <strong>#{lic.name}</strong> acquired in <strong>#{lic.year}</strong>
          else
            li: a(href='#') Add a license

      h5 Other
      ul
        if profile.education.other
          li: <strong>#{profile.education.other}</strong>
        else
          li: a(href='#') Add another type of education

    div#teaching
      h3 Teaching Experience

      p <strong>Years Teaching:</strong> #{profile.experience.years_teaching}

      p <strong>Delivery Mode:</strong> #{profile.experience.delivery_mode}

      p <strong>Years Teaching Online:</strong> #{profile.experience.years_teaching_online}

      p <strong>Eligible Areas:</strong>
      ul
        for eligible_area in profile.experience.eligible_areas
          li #{eligible_area}
        else
          p No areas added.

      p <strong>Courses Taught:</strong>
      ul
        for course_taught in profile.experience.courses_taught
          li #{course_taught}
        else
          li No courses added.

  div.clearfix
    div#research
      h3 Research

      p <strong>Types of Research:</strong> #{profile.research_type}

      h5 Publications
      ul
        li Total Publications: #{profile.publication.total}
        li Publications in past 3 years: #{profile.publication.past_three_years}
        if profile.publication.reviewer
          li Publications Reviewer Total: #{profile.publication.reviewer_total}

      h5 Presentations
      ul
        li Total Presentations: #{profile.presentation.total}
        li Presentations in past 3 years: #{profile.presentation.past_three_years}
      if profile.presentation.reviewer
        li Presentations Reviewer Total: #{profile.presentation.reviewer_total}

    div#service
      h3 Service
      
      ul
        for service in profile.services
          li #{service.service_type} #{service.description} #{service.year}
        else
          li: a(href='#') Add service

  div.clearfix
    div#position
      h3 Position
      
      p <strong>Positions Desired:</strong> #{profile.positions_desired}
      p <strong>Institutions:</strong> #{profile.institutions}
      p <strong>Courses:</strong> #{profile.courses}
