// Mixins

mixin category(cat)
  div.item
    input(type='text', name='article[categories]', value=cat)
    a(title='Remove Category', class='button-box').remove_item Remove This Category


extends ../admin/index

block sub_content

  form(action='/admin/article/'+article._id+'/save', enctype='multipart/form-data', method='post')#article-form
    div
      label Title
      input(type='text', name='article[title]', value=article.title)#article-title

    div.tip
      label Permalink
      input(type='text', readonly='readonly', value='/'+article.slug)#article-slug

    div.md-editor-panel
      span(data-md='header1') Header 1 |&nbsp;
      span(data-md='header2') Header 2 |&nbsp;
      span(data-md='header3') Header 3 |&nbsp;
      span(data-md='header4') Header 4 |&nbsp;
      span(data-md='bold') b |&nbsp;
      span(data-md='italic') i |&nbsp;
      span(data-md='link') link |&nbsp;
      span(data-md='image') image

    div
      label Body
      textarea(name='article[body]', rows='15', cols='80').md-editor-textarea
        | #{article.body}

      h4 Preview
      hr
      .md-editor-preview
        !{article.content}

    div#article-categories.item_list
      label Categories
      for cat in article.categories
        +category(cat)
      else
        +category()

      a(title='Add Category', class='button-box').add_item Add Category

    div
      label Page
      input(type='checkbox', name='article[is_page]', checked=article.is_page)

    div
      label Active
      input(type='checkbox', name='article[is_active]', checked=article.is_active)

    input(type='file', name='article_file')
    input(type='hidden', name='article[_id]', value=article._id)
    input(type='submit', value='save')