

mixin commentform(comment_id, hide)

  - if(typeof s_user != 'undefined' && s_user != false)

    .comment-form
      if comment_id
        span.comment-toolbar
          a(href='#').comment-reply reply
      form(action='/comment', method='post', class=(hide == true) ? 'hide' : 'show')
        if comment_id
          input(type='hidden', name='in_reply_to', value=comment_id)
        input(type='hidden', name='article_id', value=article._id)
        input(type='hidden', name='comment[person]', value=s_user.name.first + ' ' + s_user.name.last)
        textarea(name='comment[comment]', rows='5', cols='45')
        input(type='submit', value='Save Comment')
  else
    a(href='/login') Login 
    | to comment.


mixin comment(comment, parent_id)
  div(id=comment._id).comment
    div.header
      a(href='#') #{comment.person}
      - if(typeof s_user !== 'undefined' && s_user.is_admin)
        span.float-right
          a(href='/comment/delete?article_id='+article._id+'&comment_id='+comment._id+'&parent_id='+parent_id, title='Remove Comment') x
    if comment.comment
      div.comment-body #{comment.comment}
    mixin commentform(comment._id, true)
    div.replies
      for reply in comment.comments
        mixin comment(reply, comment._id)


extends ../layout

block content

  #sub-content
    div(id=article._id).article
      
      h2= article.title
      - if(typeof s_user !== 'undefined' && s_user.is_admin)
        a(href='/admin/article/'+article._id+'/edit') Edit
        
      .article-body
        !{article.content}

    .files
      for file in article.files
        a(href='/file/'+file._id, target='blank') #{file.name}
      else
        p No Files


    #comments
      for comment in article.comments
        +comment(comment, '')
      else
        p.no-comment No Comments

    #comment-form
      +commentform(false, false)
