- if(typeof user != 'undefined')
  - var user = user;
  - var post_action = 'edit';
- else
  - var user = {};
  - var post_action = 'create';

form(action='/user/'+post_action, method='post', id='create')
  
  - if(typeof user != 'undefined')
    input(type='hidden', name='user[_id]', value=user._id)

  label First Name
  input(type='text', name='user[name][first]', value=user.firstname)
 
  label Last Name
  input(type='text', name='user[name][last]', value=user.lastname)

  label Email
  input(type='text', name='user[email]', value=user.email)

  label Username
  input(type='text', name='user[username]', value=user.username)

  label Password
  input(type='password', name='user[password]', value=user.password)


  input(type='submit', value='Save')
