extends ../layout

block content
  h2 #{user.name.full}
  
  #sub-content

    block user_menu
      ul.sub-menu
        li: a(href="/user/#{user._id}") Account
        li: a(href="/user/#{user._id}/profile") Profile


    block sub_content
      
      ul.sub-menu
        li: a(href="/user/#{user._id}/edit") Edit Account
      
      p <strong>Email:</strong> #{user.email}