extends layout

block content
  h2 Search Database

  #sub-content.database
    block sub_content

      form(action='/faculty/search', method='get')#search-form

        div
          label(for='dmode') Delivery Mode
          select(name='faculty[experience.delivery_mode]', id='dmode')
            option(value='')
            for v in lookups.delivery_modes.values
              option(value=v, selected=v == search_query['experience.delivery_mode']) #{v}

        div
          label(for='yearsteaching') Years Teaching
          select(name='faculty[experience.years_teaching]', id='yearsteaching')
            option(value='')
            for v in lookups.years_teaching.values
              option(value=v, selected=v == search_query['experience.years_teaching']) #{v}

        div
          label(for='yearsteachingonline') Years Teaching Online
          select(name='faculty[experience.years_teaching_online]', id='yearsteachingonline')
            option(value='')
            for v in lookups.years_teaching.values
              option(value=v, selected=v == search_query['experience.years_teaching_online']) #{v}

        div
          label(for='degree') Degree
          select(name='faculty[education.degrees.degree_type]', id='degree')
            option(value='')
            for v in lookups.degree_types.values
              option(value=v, selected=v == search_query['education.degrees.degree_type']) #{v}

        
        input(type='submit', value='Search')
        
        
        a(href='/search/faculty') Clear Search

      .clearfix

      h3 Search Results

      - if(typeof(search_results) != 'undefined' && search_results.length)
        table#faculty-search-results
          thead
            tr
              th Name
              th Delivery Mode
              th Years Teaching
              th Years Teaching Online
              th Highest Degree

          if total_results > 10
            tfoot
              tr
                td(colspan='4')
                  if page > 1
                    a(href=page_url+(page-1)).float-left Prev
                  if total_results > page_total
                    a(href=page_url+(page+1)).float-right Next
          tbody
            for result in search_results
              tr
                td 
                  a(href='/user/'+result.user_id.key+'/profile') #{result.user_id.display_name}
                td #{result.experience.delivery_mode}
                td #{result.experience.years_teaching}
                td #{result.experience.years_teaching_online}
                td #{result.highest_degree}
      else
        p No Results