extends ../layout

block content
  h2 Edit #{lookup.name}

  form(action='/lookup/#{lookup.name}/update', method='post')
    div
      label Name
      input(type='text', name='lookup[name]', value=lookup.name)


    div#lookup_values_edit
      label Values
      a(href='#').add_new Add New
      ul
        for value, i in lookup.values
          if value.name
            li
              a(href='#').remove remove
              input(type='text', name='lookup[values][#{i}][name]', value=value.name)
              for v in value.values
                input(type='text', name='lookup[values][#{i}][values][]', value=v)
              a(href='#').expand expand
          else
            li
              a(href='#').remove remove
              input(type='text', name='lookup[values]', value=value)
              a(href='#').expand expand
        else
          li
            a(href='#').remove remove
            input(type='text', name='lookup[values]',)
            a(href='#').expand expand


    input(type='hidden', name='lookup[_id]', value=lookup._id)
    input(type='submit', value='Save')

  script(src='/scripts/lookups.js')
