extends ../admin/index

block sub_content
  h3= lookup.name
  a.button-box(href="/admin/lookup/#{lookup.name}/edit") Edit
  
  #lookup-info
    if lookup.values
      ul
        for value in lookup.values
          if value.name
            li
              span.key #{value.name}
              ul
                for v in value.values
                  li.sub-thing #{v}
          else
            li #{value}

