extends ../layout

block content
  h2= lookup.name
  a(href="/lookup/#{lookup.name}/edit") Edit

  if lookup.values
    ul
      for value in lookup.values
        if value.name
          li #{value.name}
            ul
              for v in value.values
                li #{v}
        else
          li #{value}

